{% extends 'blog/base.html' %}

{% block content %}

<h1>Login</h1>

{% if form.errors %}
<p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
{% endif %}

<form class="login-form" method="POST" action="{% url 'django.contrib.auth.views.login' %}">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">

  <div class="row">
      <div class="col-md-3">{{ form.username.label_tag }}</div>
      <div class="col-md-9">{{ form.username }}</div>
  </div>
  <div class="row">
      <div class="col-md-3">{{ form.password.label_tag }}</div>
      <div class="col-md-9">{{ form.password }}</div>
  </div>

  <input type="submit" value="Login" class="btn btn-default">
</form>

{% endblock content %}
