{% load staticfiles %}
<html>
    <head>
        <title>Django Blog</title>
        <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'blog.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Django Blog</a></h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 principal">
                {% block content %}
                {% endblock %}
                </div>
                <div class="col-md-4">
                    <h2>Posts List</h2>
                    <ul>
                    {% for post in posts %}
                        <li><a href="{% url 'blog.views.post_detail' id=post.id %}">{{ post.title }}</a></li>
                    {% endfor%}
                  </ul>
                </div>
            </div>
        </div>
    </body>
</html>
