{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
    <div class="date">

    {% if post.published_date %}
        {{ post.published_date }}
    {% elif user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'blog.views.post_publish' id=post.id %}">Publish</a>
    {% endif %}
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'blog.views.post_edit' id=post.id %}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a class="btn btn-default" href="{% url 'blog.views.post_delete' id=post.id %}">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    {% endif %}
    </div>
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaks }}</p>
</div>

{% if post.published_date %}
<hr>
<h2>Comments</h2>

{% for comment in post.comments.all %}
{% if user.is_authenticated or comment.approved_comment %}
<div class="comment">
    <div class="date">
        {{ comment.created_date }}
        {% if not comment.approved_comment %}
            <a class="btn btn-default" href="{% url 'comment_remove' id=comment.id %}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a class="btn btn-default" href="{% url 'comment_approve' id=comment.id %}">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        {% endif %}
    </div>
    <strong>{{ comment.author }}</strong>
    <p>{{ comment.text|linebreaks }}</p>
</div>
{% endif %}
{% empty %}
<p>No comments here yet.</p>
{% endfor %}


<h2><small>New comment</small></h2>
<form method="POST" class="post-form" action="{% url 'add_comment_to_post' id=post.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Comment</button>
</form>
{% endif%}

{% endblock content %}
